{% extends 'base.html.twig' %}

{% block body %}

    {#{% set user = app.session.get('User') %}#}
    {% if(app.user) %}
        <!-- Navbar (sit on top) -->
        <div class="w3-top">
            <div class="w3-bar w3-text-white" id="myNavbar">
                <a class="w3-bar-item w3-button w3-hover-white w3-hide-medium w3-hide-large w3-right nav-icon" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
                    <i class="fa fa-bars"></i>
                </a>
                <a href="{{ path('subscription_homepage') }}" class="w3-bar-item w3-button nav-title">UNAMAG</a>
            </div>

            <!-- Navbar on small screens -->
            <div id="navDemo" class=" w3-card-2 w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
                <div class="w3-bar-item">
                    <div id="dropDown-button">
                        MES ABONNEMENTS <i class="fa fa-caret-down"></i>
                    </div>
                    <div id="dropDown-content" class="w3-animate-opacity hidden">
                        <a href="{{ path('subscription_homepage') }}" class="side-padding-30 w3-bar-item w3-button">EN COURS</a>
                        <a href="{{ path('subscription_expired') }}" class="side-padding-30 w3-bar-item w3-button">TERMINÉ</a>
                    </div>
                </div>
                <a href="{{ path('publication_index') }}" class="w3-bar-item w3-button" onclick="toggleFunction()">S'ABONNER</a>
                <a href="{{ path('user_profil') }}" class="w3-bar-item w3-button" onclick="toggleFunction()">PROFIL</a>
                <a href="{{ path('authentication_logout') }}" class="w3-bar-item w3-button">QUITTER</a>
            </div>
        </div>
    {% endif %}


    {% block content %}
    {% endblock %}

{% endblock %}