{% extends '@User/userLayout.html.twig' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <div class="w3-content w3-container w3-padding-64" id="about">
        <div class="w3-container w3-teal">
            <h2>{{ 'user.myInfo'|trans }}</h2>
        </div>

        <div>
            {% for flashErrors in app.session.flashbag.get('errors') %}
                <p class="w3-panel w3-orange">{{ flashErrors }}</p>
            {% endfor %}

            {% for flashSuccess in app.session.flashbag.get('success') %}
                <p class="w3-panel w3-green">{{ flashSuccess }}</p>
            {% endfor %}
        </div>

            {{ form_start(form, {'method': 'POST'}) }}
                {{ form_errors(form) }}
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.adress) }}
                {{ form_row(form.city) }}
                {{ form_row(form.zipCode) }}
                {{ form_row(form.tel) }}
                {{ form_row(form.mail) }}
                {{ form_row(form.birthDate) }}
                {{ form_row(form.birthCity) }}
                {{ form_row(form._token) }}
                <p>
                    <a href="{{ path('user_edit_password') }}" class="w3-btn w3-red">Changer de mot de passe</a>
                    <button type="submit" class="w3-btn w3-green">Enregistrer</button>
                </p>
            {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
