{% if(response.users|length == 0) %}
    <p>Aucun résultat.</p>
{% else %}
    {% for user in response.users %}
        <div class="user-wrapper add-historical add-{{ user.id }}" data-user-id="{{ user.id }}" data-user-name="{{ user.firstname|capitalize~' '~user.lastname|capitalize }}">
            <span class="icon-wrapper">
                <i class="glyphicon glyphicon-plus"></i>
            </span>
            <span class="info-wrapper">
                {{ user.firstname|capitalize }} {{ user.lastname|capitalize }}
            </span>
        </div>
    {% endfor %}
{% endif %}