{% extends 'layout.html.twig' %}

{% block content %}

    <h1>{{ 'user.list'|trans }}</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'user.firstName.label'|trans }}</th>
            <th>{{ 'user.lastName.label'|trans }}</th>
            <th>{{ 'user.mail.label'|trans }}</th>
            <th>{{ "user.tel.label"|trans }}</th>
            <th>{{ 'user.birthDate.label'|trans }}</th>
            <th>{{ 'user.birthCity.label'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                {#<td><a href="{{ path('publication_show', { 'id': publication.id }) }}">{{ publication.id }}</a></td>#}
                <td>{{ loop.index }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.mail }}</td>
                <td>{{ user.tel }}</td>
                <td>{{ user.birthDate }}</td>
                <td>{{ user.birthCity }}</td>
                <td>
                            <a class="btn btn-info" href="{{ path('user_show', { 'id': user.id }) }}">{{ 'user.show'|trans }}</a>
                            <a class="btn btn-warning" href="{{ path('user_edit', { 'id': user.id }) }}">{{ 'user.edit'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
