{% extends 'layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-12"></div>
    <div class="jumbotron row">
        <div class="row">
            <div class="text-center"><h2> {{ 'user.detail'|trans }}</h2></div>
        </div>
        <div class="row">
            <div class="col-md-offset-4">
                <table class="text-center">
                    <tbody>
                        <tr>
                            <th>{{ 'user.firstName.label'|trans }}</th>
                            <td>{{ client.firstname }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'user.lastName.label'|trans }}</th>
                            <td>{{ client.lastname }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'user.adress.label'|trans }}</th>
                            <td>{{ client.adress }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'user.city.label'|trans }}</th>
                            <td>{{ client.city }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'user.zipcode.label'|trans }}</th>
                            <td>{{ client.zipCode }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'user.tel.label'|trans }}</th>
                            <td>{{ client.tel }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'user.mail.label'|trans }}</th>
                            <td>{{ client.mail }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'user.birthDate.label'|trans }}</th>
                            <td>{{ client.birthDate }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'user.birthCity.label'|trans }}</th>
                            <td>{{ client.birthCity }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4">
                <a class="btn btn-primary" href="{{ path('user_homepage') }}">{{ 'user.return'|trans }}</a>
                <a class="btn btn-warning" href="{{ path('user_edit', { 'id': client.id }) }}">{{ 'user.edit'|trans }}</a>
            </div>
        </div>
        </div>
</div>
{% endblock %}
