{% extends '@Publication/publicationLayout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="jumbotron">
            <div class="container">
                <div class="col-md-12 text-right">
                    <span><strong>{{ 'publication.annualPrice'|trans }}</strong> : {{ publication.annualCost ~ ' ' ~ 'devise.symbol'|trans }}</span>
                    |
                    <span><strong>{{ 'publication.countByYear'|trans }}</strong> : {{ publication.countByYear }}</span>
                </div>
            </div>
            <div class="container">
                <div class="col-md-4 text-center">
                    <img src="data:image/jpeg;base64,{{ publication.picture }}">
                </div>

                <div class="col-md-8">
                    <h1>{{ publication.title|capitalize }}</h1>
                    <p class="text-justify">{{ publication.description }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="{{ path('publication_index') }}" class="btn btn-primary">Liste des publications</a>
                    <a href="{{ path('publication_edit', {'id':publication.id}) }}" class="btn btn-warning">Editer la publication</a>
                    {% if(publication.subscription|length == 0) %}
                        <form method="post" action="{{ path('publication_delete') }}">
                            <input type="hidden" name="publicationId" value="{{ publication.id }}">
                            <input type="submit" class="btn btn-danger" value="Supprimer la publication">
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
