{% if(response.users|length == 0) %}
    <td colspan="8" class="text-center"><p>Aucun résultat</p></td>
{% else %}
    {% for user in response.users %}
        <tr>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.mail }}</td>
            <td>{{ user.tel }}</td>
            <td>{{ user.birthDate }}</td>
            <td>{{ user.birthCity }}</td>
            <td>
                <a class="btn btn-info btn-xs" href="{{ path('user_show', { 'id': user.id }) }}">{{ 'user.show'|trans }}</a>
                <a class="btn btn-warning btn-xs" href="{{ path('user_edit', { 'id': user.id }) }}">{{ 'user.edit'|trans }}</a>
            </td>
        </tr>
    {% endfor %}
{% endif %}