{% extends 'layout.html.twig' %}

{% block content %}

    <h1>{{ 'user.list'|trans }}</h1>

    {% if response.pagination.nbPages > 0 %}
        <ul class="pagination">
            {% if response.pagination.page > 1 %}
                <li>
                    <a href="{{ path(response.pagination.nomRoute, response.pagination.paramsRoute|merge({'page': 1})) }}">
                        <<
                    </a>
                </li>
                <li>
                    <a href="{{ path(response.pagination.nomRoute,
                    response.pagination.paramsRoute|merge({'page': response.pagination.page-1})) }}">
                        <
                    </a>
                </li>
            {% endif %}

            {# Affichage de toutes les pages entre p-4 et p+4 sauf si < 1 ou > nbPages #}
            {% for p in range(max(response.pagination.page-4, 1), min(response.pagination.page+4, response.pagination.nbPages)) %}
                <li {% if p == response.pagination.page %}class="active"{% endif %}>
                    <a href="{{ path(response.pagination.nomRoute, response.pagination.paramsRoute|merge({'page': p})) }}">
                        {{ p }}
                    </a>
                </li>
            {% endfor %}

            {% if response.pagination.page < response.pagination.nbPages %}
                <li>
                    <a href="{{ path(response.pagination.nomRoute,
                    response.pagination.paramsRoute|merge({'page': response.pagination.page+1})) }}">
                        >
                    </a>
                </li>
                <li>
                    <a href="{{ path(response.pagination.nomRoute,
                    response.pagination.paramsRoute|merge({'page': response.pagination.nbPages})) }}">
                        >>
                    </a>
                </li>
            {% endif %}
        </ul>
    {% endif %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'user.firstName.label'|trans }}</th>
            <th>{{ 'user.lastName.label'|trans }}</th>
            <th>{{ 'user.mail.label'|trans }}</th>
            <th>{{ "user.tel.label"|trans }}</th>
            <th>{{ 'user.birthDate.label'|trans }}</th>
            <th>{{ 'user.birthCity.label'|trans }}</th>
            <th><button class="btn btn-success user-historical-button" data-toggle="modal" data-target="#myModal">Créer un historique de contact</button></th>
        </tr>
        </thead>
        <tbody>
        {% for user in response.users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.mail }}</td>
                <td>{{ user.tel }}</td>
                <td>{{ user.birthDate }}</td>
                <td>{{ user.birthCity }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('user_show', { 'id': user.id }) }}">{{ 'user.show'|trans }}</a>
                    <a class="btn btn-warning" href="{{ path('user_edit', { 'id': user.id }) }}">{{ 'user.edit'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Historique de contact</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(form, {'method': 'POST', 'action': path('historical_create')}) }}
                    <input type="hidden" id="from" name="from" value="userList">
                    {{ form_widget(form) }}
                      <input type="text" id="recherche" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary"></input>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src = "{{ asset('bundles/user/js/script.js') }}"></script>

{% endblock %}