{% extends 'layout.html.twig' %}

{% block content %}

    <h1>{{ 'user.list'|trans }}</h1>


    <div class="col-md-12">
        <div class="col-md-3 pagination-wrapper">
            {% include '@User/User/index-partial/pagination.html.twig' %}
        </div>

        <div class="col-md-offset-6 col-md-3" style="margin-top:20px; margin-bottom:20px">
            <input type="text" class="form-control search-input" placeholder="Rechercher...">
        </div>
    </div>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'user.firstName.label'|trans }}</th>
            <th>{{ 'user.lastName.label'|trans }}</th>
            <th>{{ 'user.mail.label'|trans }}</th>
            <th>{{ "user.tel.label"|trans }}</th>
            <th>{{ 'user.birthDate.label'|trans }}</th>
            <th>{{ 'user.birthCity.label'|trans }}</th>
            <th><button class="btn btn-success user-historical-button" data-toggle="modal" data-target="#myModal">Créer un historique de contact</button></th>
        </tr>
        </thead>
        <tbody class="user-list">
            {% include '@User/User/index-partial/user-list.html.twig' %}
        </tbody>
    </table>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Historique de contact</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(form, {'method': 'POST', 'action': path('historical_create')}) }}
                    <input type="hidden" id="from" name="from" value="userList">
                    {{ form_widget(form) }}
                      <input type="text" id="recherche" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary"></input>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src = "{{ asset('bundles/user/js/script.js') }}"></script>

{% endblock %}