{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/user/css/style.css') }}">
{% endblock %}

{% block content %}
<div class="row">
    <div id="contenu">
        <div>
            <div>
                {% for flashErrors in app.session.flashbag.get('errors') %}
                    <p class="alert alert-danger">{{ flashErrors }}</p>
                {% endfor %}

                {% for flashSuccess in app.session.flashbag.get('success') %}
                    <p class="alert alert-success">{{ flashSuccess }}</p>
                {% endfor %}
            </div>
            <div class="errors alert alert-danger hidden"></div>
            <div class="success alert alert-success hidden"></div>
            <div class="col-md-3" style="padding: 5px;">
                <h2 class="text-center">{{ client.firstname|capitalize }} {{ client.lastname|capitalize }}</h2>
                <div class="row">
                    <div class="text-center">
                        <a class="btn btn-warning col-md-11 margin-top-15" href="{{ path('user_edit', { 'id': client.id }) }}">{{ 'user.edit'|trans }}</a>
                        <br>
                        <button class="btn btn-success user-historical-button col-md-11 margin-top-15" data-toggle="modal" data-target="#myModal">Créer un historique de contact</button>
                        <br>
                        {%  if(client.actif) %}
                            {% set class = " btn-danger" %}
                            {% set txt = 'user.activation.true' %}
                        {%  else %}
                            {% set class = " btn-success" %}
                            {% set txt = 'user.activation.false' %}
                        {%  endif %}
                        <button class="btn{{ class }} user-activation-button col-md-11 margin-top-15" data-id="{{ client.id }}">{{ txt|trans }}</button>
                        <br><br><br>
                        <a class="btn btn-primary col-md-11 margin-top-30" href="{{ path('user_homepage') }}">{{ 'user.return'|trans }}</a>
                    </div>
                </div>
            </div>

            <div class="col-md-9" style="border-left: 1px solid #CBCBCB; min-height: 500px;">

                <div>
                    <ul id="onglets">
                        <li class="actif">Clients</li>
                        <li>Historiques</li>
                        <li>Abonnements</li>
                        <li>Paiements</li>
                    </ul>
                </div>

                <div class="item">
                    <div class="errors alert alert-danger hidden">
                    </div>
                    <div class="w3-container">
                        <div class="w3-card">
                            <div class="w3-container col-md-offset-2">
                                <p>{{ 'user.adress.label'|trans }}: {{ client.adress }}</p>
                                <p>{{ 'user.city.label'|trans }}: {{ client.city|capitalize }}</p>
                                <p>{{ 'user.zipcode.label'|trans }}: {{ client.zipCode }}</p>
                                <p>{{ 'user.tel.label'|trans }}: {{ client.tel }}</p>
                                <p>{{ 'user.mail.label'|trans }}: {{ client.mail }}</p>
                                <p>{{ 'user.birthDate.label'|trans }}: {{ client.birthDate }}</p>
                                <p>{{ 'user.birthCity.label'|trans }}: {{ client.birthCity }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="paginator">
                    </div>
                    <table class="table table-striped">
                        <th>{{ 'historical.methode'|trans }}</th>
                        <th>{{ 'historical.description'|trans }}</th>
                        <th>{{ 'historical.createDate'|trans }}</th>
                        <th></th>

                        {% for histo in historical %}
                            <tr class="histo">
                                <td>{{ histo.methode }}</td>
                                <td>{{ histo.description }}</td>
                                <td>{{ histo.dateCreate|date('d/m/Y') }}</td>
                                {%  if(histo.users) %}
                                    <td></td>
                                {% else %}
                                    <td title="Historique Global" style="cursor: default"><b>G</b></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <div class="item">
                    <div class="abopaginator"></div>
                    <table class="table">
                        <th class="text-left">Titre</th>
                        <th class="text-center">Coût annuel(€)</th>
                        <th class="text-center">Date de début</th>
                        <th class="text-center">Date de fin</th>
                        <th class="text-center">Statut</th>
                        <th class="text-center"></th>
                        {% for abo in client.subscription %}
                            {% set expiredClass = '' %}
                            {% if abo.dateEnd < date().date %}
                                {% set expiredClass = 'expired' %}
                            {% elseif abo.dateEnd|date_modify("-2 month") < date() %}
                                {% set expiredClass = 'expired-soon' %}
                            {% endif %}

                            <tr class="abolist {{ expiredClass }} text-center">
                                <td class="text-left">{{ abo.publication.title }}</td>
                                <td>{{ abo.publication.annualCost }}</td>
                                <td>{{ abo.dateStart|date('d/m/Y') }}</td>
                                <td>{{ abo.dateEnd|date('d/m/Y') }}</td>

                                {% if abo.dateEnd < date().date %}
                                    <td class="abo-status-{{ abo.id }}">Expiré</td>
                                {% elseif(abo.status) %}
                                    {% set class = " btn-danger" %}
                                    {% set txt = 'Arrêter' %}
                                    <td class="abo-status-{{ abo.id }}">En cours</td>
                                {% else %}
                                    {% set class = " btn-success" %}
                                    {% set txt = 'Redemarrer' %}
                                    <td class="abo-status-{{ abo.id }}">Arrêté</td>
                                {% endif %}

                                <td>
                                    {% if abo.dateEnd|date('d/m/Y') > date()|date('d/m/Y') %}
                                    <a href="{{ path('subscription_extend', {'sub_id': abo.id, 'user_id': client.id}) }}" class="btn btn-success btn-xs">Prolonger</a>
                                    <button class="btn {{ class }} abo-activation-button btn-xs" data-id="{{ abo.id }}">{{ txt }}</button>
                                    {% endif %}
                                </td>

                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <div class="item">

                    <div class="paymentpaginator"></div>
                    <table class="table table-striped">
                        <th>Magazine</th>
                        <th class="text-center">Montant (€)</th>
                        <th class="text-center">Du</th>
                        <th class="text-center">Au</th>
                        <th class="text-center">Statut</th>
                        <th class="text-center">Remboursement</th>
                        {% set magazine = null %}
                        {% set first = true %}
                        {% set count = 0 %}
                        {% for abo in client.subscription %}
                            {% if magazine !=  abo.publication.title %}
                                {% set magazine = abo.publication.title %}
                                {% set first = true %}
                            {% endif %}

                            {% for payment in abo.payment %}

                                {% set unpayedClass = '' %}

                                {% if payment.datePayment == null %}
                                    {% set unpayedClass = 'unpayed' %}
                                {% endif %}
                                <tr class="paylist {{ unpayedClass }}">
                                    {% if first == true or count%10 == 0 %}
                                        {% set first = false %}
                                        <td><strong>{{ magazine }}</strong></td>
                                    {% else %}

                                        {% if abo.dateEnd < date().date %}
                                            <td class="text-center">expiré</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}

                                    {% endif %}
                                    <td class="text-center">{{ payment.amount }}</td>
                                    <td class="text-center">{{ payment.dateDeb|date('d/m/Y') }}</td>
                                    <td class="text-center">{{ payment.dateFin|date('d/m/Y') }}</td>
                                    {% if payment.datePayment %}
                                        <td class="text-center">{{ payment.datePayment|date('d/m/Y') }}</td>
                                        <td class="text-center">
                                            {% if payment.realAmount == 0 %}
                                                <div class="glyphicon glyphicon-ok text-success"></div>
                                            {% else %}
                                                <button class="btn btn-warning user-payment-button btn-xs" data-toggle="modal" data-target="#refundModal" data-amount="{{ payment.amount }}" data-price="{{ payment.realAmount }}" data-id="{{ payment.transaction_id }}">Remboursement</button>
                                            {% endif %}</td>
                                    {% else %}
                                        <td class="text-center">Non payé</td>
                                        <td class="text-center"> <button class="btn btn-info user-payment-mail btn-xs" data-id="{{ payment.id }}" style="min-width: 100px">Relance</button> </td>
                                    {% endif %}

                                </tr>
                                {% set count = count+1 %}
                            {% endfor %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>




    </div>

    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Historique de contact</h4>
            </div>
            <div class="modal-body">
                {{ form_start(form, {'method': 'POST', 'action': path('historical_create')}) }}
                <input type="hidden" id="userId" name="userId" value={{ client.id }}>
                <input type="hidden" id="from" name="from" value="userPage">
                {{ form_row(form.methode) }}
                {{ form_row(form.description) }}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary">
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

    <div class="modal fade" id="refundModal" tabindex="-1" role="dialog" aria-labelledby="refundModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="refundModalLabel">Remboursement</h4>
                </div>
                <form method="POST" action="{{ path('payment_refund') }}" >
                <div class="modal-body">
                    <div id="modalMaxRefund"></div>
                    <input type="hidden" id="transaction_Id" name="transaction_Id" >
                    <input type="hidden" id="userId" name="userId" value="{{ client.id }}">
                    <input type="number" step="0.01" id="amount" name="amount" min="0">
                    <a  class="btn btn-primary btn-xs" id="max" name="max" >Max</a>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <input type="submit" class="btn btn-success"  value="Valider">
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src = "{{ asset('bundles/user/js/script.js') }}"></script>
{% endblock %}
