{% extends 'layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-12"></div>
    <div class="jumbotron row">
        {#<div class="row">#}
            {#<div class="text-center"><h2> {{ 'user.detail'|trans }}</h2></div>#}
        {#</div>#}
        {#<div class="row">#}
            {#<div class="col-md-offset-4">#}
                <div class="w3-container">
                    <div class="w3-card">
                        <header class="w3-container w3-blue">
                            <h1>{{ client.firstname|capitalize }} {{ client.lastname|capitalize }}</h1>
                        </header>
                        <div class="w3-container col-md-offset-2">
                            <p>{{ 'user.adress.label'|trans }}: {{ client.adress }}</p>
                            <p>{{ 'user.city.label'|trans }}: {{ client.city|capitalize }}</p>
                            <p>{{ 'user.zipcode.label'|trans }}: {{ client.zipCode }}</p>
                            <p>{{ 'user.tel.label'|trans }}: {{ client.tel }}</p>
                            <p>{{ 'user.mail.label'|trans }}: {{ client.mail }}</p>
                            <p>{{ 'user.birthDate.label'|trans }}: {{ client.birthDate }}</p>
                            <p>{{ 'user.birthCity.label'|trans }}: {{ client.birthCity }}</p>
                        </div>
                    </div>
                </div>
            {#</div>#}
        {#</div>#}
        <div class="row">
            <div class="col-md-offset-4">
                <a class="btn btn-primary" href="{{ path('user_homepage') }}">{{ 'user.return'|trans }}</a>
                <a class="btn btn-warning" href="{{ path('user_edit', { 'id': client.id }) }}">{{ 'user.edit'|trans }}</a>
            </div>
        </div>
        </div>
</div>
{% endblock %}
