{% extends '@Subscription/subscriptionLayout.html.twig' %}

{% block content %}
    <div class="w3-black w3-opacity-min w3-padding-16 min-height-100" id="home">
        <div class="w3-container">

            <div class="w3-padding-16 w3-center">
                <h2>{{ 'title.subscription'|trans }}</h2>
            </div>

            {% if subscriptions|length == 0 %}

                <div class="w3-card-2 w3-display-container w3-margin-bottom" style="transition:0.5s;width:100%">

                    <p>Vous n'avez pas encore d'abonnement à une publication.</p>
                    <a href="{{ path('publication_index') }}" class="w3-button w3-green">Parcourir les publications</a>

                </div>

            {% else %}

                <span class="w3-btn w3-white w3-border w3-border-green w3-round-xlarge modal-opener" data-modal-open-id="legende-modal">Légende</span>

                <div id="legende-modal" class="w3-modal modal-closer" data-modal-close-id="legende-modal">
                    <div class="w3-modal-content">
                        <div class="w3-container w3-text-black">
                            <span class="w3-button w3-display-topright modal-closer" data-modal-close-id="legende-modal">&times;</span>
                            <p class="w3-leftbar w3-border-green w3-padding-small">Abonnement en cours</p>
                            <p class="w3-leftbar w3-border-red w3-padding-small">Plus que deux mois avant la fin de l'abonnement</p>
                            <p class="w3-padding-small">
                                <button type="button" class="w3-red w3-text-white w3-btn w3-round disabled" title="Titre"><i class="fa fa-lock"></i></button>
                                Cet abonnement est arrêté
                            </p>
                            <p>
                                <button type="button" class="w3-orange w3-text-white w3-animate-opacity w3-btn w3-margin w3-round disabled" title="Titre"><i class="fa fa-exclamation"></i></button>
                                Cet abonnement à une ou plusieurs année non payé
                            </p>
                        </div>
                    </div>
                </div>

                <div class="w3-padding-16">
                    {% for subscription in subscriptions %}

                        {% set border = 'w3-border-green' %}
                        {% set date = 'w3-text-green' %}
                        {% if date('+2 months') >= date(subscription.dateEnd) %}
                            {% set border = 'w3-border-red' %}
                            {% set date = 'w3-text-red' %}
                        {% endif %}

                        <div class="w3-card-2 w3-display-container w3-margin-bottom w3-topbar w3-bottombar w3-leftbar and w3-rightbar {{ border }}" style="transition:0.5s;width:100%">
                            <div>
                                <img src="data:image/jpeg;base64,{{ subscription.publication.picture }}" alt="Pants" style="width:100%">
                            </div>
                            <div class="w3-display-bottomleft w3-large">
                                <button type="button" class="{{ date }} w3-white w3-animate-opacity w3-btn w3-margin w3-round disabled" title="Date de fin"><i class="fa fa-calendar-times-o"></i> {{ subscription.dateEnd|date('d/m/Y') }}</button>
                            </div>

                            <div class="w3-display-topleft w3-large">
                                <button type="button" class="w3-white w3-animate-opacity w3-btn w3-margin w3-round disabled" title="Titre">{{ subscription.publication.title }}</button>
                            </div>

                            {% set unpayed = false %}
                            {% for payment in subscription.payment %}
                                {% if payment.transaction_id == null %}
                                    {% set unpayed = true %}
                                {% endif %}
                            {% endfor %}

                            <div class="w3-display-topright w3-large">
                            {% if unpayed %}
                                    <button type="button" class="w3-orange w3-text-white w3-animate-opacity w3-btn w3-margin w3-round disabled" title="Titre" style="min-width: 43px; margin-right: 2px !important;"><i class="fa fa-exclamation"></i></button>
                            {% endif %}

                            {% if subscription.status == false %}
                                    <button type="button" class="w3-red w3-text-white w3-animate-opacity w3-btn w3-margin w3-round disabled" title="Titre" style="min-width: 43px; margin-left: 2px !important;"><i class="fa fa-lock"></i></button>
                            {% endif %}
                            </div>

                            <div class="w3-display-middle w3-large">
                                <a href="{{ path('subscription_show', { 'id': subscription.id }) }}" class="w3-button w3-round w3-green w3-animate-opacity w3-btn w3-round">En savoir plus</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

